/* ...existing styles... */

/* @media (max-width: 639px) and (min-width: 285px) {
  .custom-responsive {
    height: 200px;
  }

  .custom-responsive h1 {
    font-size: 1.5rem;
    top: 200px;
  }

  .custom-responsive video {
    top: 200px;
  }
  .custom-responsive button {
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 639px) and (max-height: 625px) {
  .custom-responsive {
    height: 200px;
  }

  .custom-responsive h1 {
    font-size: 1.5rem;
  }

  .custom-responsive button {
    padding: 0.5rem 1rem;
  }
} */




